#feedback {
  margin: 16px;

  @media (min-width: 960px) {
    margin: 16px 64px;
  }

  h2 {
    font-size: 36px;
    margin: 16px 0;
    text-align: center;

    @media (min-width: 720px) {
      font-size: 42px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 1.8;
    margin: 0 auto 24px;
    max-width: 800px;
    text-align: center;
  }
}
